**/.terraform

# Ignore Terraform state files
**/*.tfstate
**/*.tfstate.backup

# Ignore crash logs
**/crash.log

# Ignore override files
**/*.tfvars
**/*.tfvars.json

# Ignore Terraform CLI configuration
**/.terraformrc
**/terraform.rc

**/.terraform.lock.hcl
